.wrapperListaProdotti {
  background-color: #fff9e7;
  display: block;
  margin: 0 auto;
  border-radius: 17px;
  padding: 2rem 3rem;
}

.wrapperListaProdotti ul {
  margin-top: 0;
}

.wrapperListaProdotti .header {
  border-bottom: 1px dashed gray;
}

.wrapperListaProdotti ul li {
  font-size: 20px;
  font-family: Zilla Slab, serif;
  padding: 7px 0;
}

.wrapperListaProdotti ul li img {
  height: auto;
  border-radius: 10px;
}

.wrapperListaProdotti ul.header {
  font-weight: bold;
}

.wrapperListaProdotti ul.header li {
  font-size: 16px;
}

.wrapperListaProdotti .listaProdotti li,
ul.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.wrapperListaProdotti .listaProdotti li {
  transition: all ease-in-out 0.3s;
  padding: 7px 10px;
}

.wrapperListaProdotti .listaProdotti li:hover {
  background-color: rgba(255, 255, 255, 0.274);
}

.pagination {
  text-align: center;
  margin-top: 5rem;
}

.pagination ul {
  display: inline-flex;
  margin: 0;
  padding: 0 1rem;
  background-color: #eee7d3;
  border-radius: 17px;
}

.pagination ul li {
  border-bottom: 0;
  margin: 0.5rem;
  cursor: pointer;
}

.wrapperListButtons {
  width: 74px;
  margin: 0 0 0 auto;
  background: #cac8bf;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 8px 4px;
  justify-content: space-around;
}

.wrapperModaleProdotto {
  position: fixed;
  background-color: #e6e0cb;
  max-width: 850px;
  width: 100%;
  left: 50%;
  top: 50%;
  border-radius: 17px;
  overflow: hidden;
  z-index: 100;
  opacity: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 -7px 10px #8781613b;
}

.wrapperModaleProdotto header {
  margin: 1.5rem 2rem 0 2rem;
}

.wrapperModaleProdotto .mainFormWrapper {
  margin: 1rem 2rem;
}

.backgroundModale {
  background-color: #b1a8969f;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0;
}

.wrapperMidSection {
  display: flex;
  justify-content: space-between;
}

.form-control {
  margin-bottom: 1rem;
}

section.prodotto {
  display: flex;
}

.wrapperModaleProdotto section.prodotto .form-control.descrizione {
  flex: 2;
}

.wrapperModaleProdotto section.prodotto .form-control.immagine {
  flex: 1;
}

.wrapperModaleProdotto section.datiNumerici .form-control.quantita {
  max-width: 86px;
  margin-bottom: 1;
}

.wrapperModaleProdotto section.datiNumerici .form-control.prezzo {
  max-width: 86px;
  margin-bottom: 1;
}

.wrapperModaleProdotto section.datiNumerici {
  display: flex;
  justify-content: flex-end;
}

.wrapperModaleProdotto section.footer {
  display: flex;
  background-color: #aaa287;
  padding: 0.5rem 2rem;
  justify-content: flex-end;
  align-items: center;
}

.wrapperModaleProdotto section.footer .form-control {
  margin: 0;
}

.wrapperModaleProdotto section.footer .backBtn {
  margin-right: auto;
  cursor: pointer;
}

ul.header li:first-child {
  display: inline;
  grid-column-start: 1;
  grid-column-end: 3;
}

.attributi {
  display: flex;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #dbd4bb;
  border-radius: 6px;
  justify-content: flex-end;
}

.attributi .form-control.quantita {
  max-width: 86px;
  margin-bottom: 1;
}

.attributi .form-control.prezzo {
  max-width: 86px;
  margin-bottom: 1;
  margin-right: 0;
}

.attributi .form-control.attributo {
  max-width: 86px;
  margin-bottom: 1;
}

.productListName {
  grid-column: span 2;
  font-size: 1.3rem;
  width: 100%;
  word-break: break-word;
}

.wrapperAttribute {
  margin: 2rem;
}

.formAttributo .form-control {
  margin-right: 0;
}

span.tag-wrapper.ReactTags__tag {
  margin: 0.3rem;
  background: aliceblue;
  padding: 5px;
}

.ReactTags__tags.react-tags-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.ReactTags__tagInput {
  margin-bottom: 1rem;
}

.wrapperImage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background: #d7d0b7;
  padding: 10px;
  border-radius: 8px;
}

.wrapperSingleImage {
  position: relative;
  height: 100px;
  border-radius: 7px;
  overflow: hidden;
}

.wrapperSingleImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperSingleImage span {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  background: lightgray;
  border-radius: 50%;
  width: 23px;
  text-align: center;
  line-height: 20px;
  height: 23px;
  font-weight: bold;
  cursor: pointer;
}

.wrapperImageHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem 0;
  border-radius: 6px;
  padding: 7px;
}

.wrapperImageHeader label {
  margin-right: 1rem;
}
